<h1>Book詳細</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>著者</th>
    <th>内容</th>
  </tr>
  <tr>
    <td>
      <%= @book.title %>
    </td>
    <td>
      <%= @book.author %>
    </td>
  </tr>
  <div id="show_like_<%= @book.id %>">
  <%= render 'likes/like', book: @book %>
  </div>
</table>
<%= link_to "一覧へ", books_path %>